nav-item button {
    background: none;
    border: none;
    padding: 0.5rem 0.5rem;
}


/* Remove spinner controls from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#filter-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: auto;
}

#add-expense-btn {
    border: none;
    padding: 0;
    margin-right: 0.5rem;
}

.form-check {
    margin: 0;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.form-check-input:checked {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

#month-checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.modify-modal-footer {
    display:flex;
    justify-content: space-between;
}

.container {
    max-width: 95vw !important;
    margin: 0 auto;
    padding: 0 10px;
}

.card {
    width: 100%;
    margin: 0;
}

.card-body {
    padding: 1rem 0.5rem;
}

.table {
    margin: 0;
}

    .table td, .table th {
        padding: 0.5rem 0.25rem;
    }

.hide-cells-on-small-display {
    display: table-cell;
}

.show-cells-on-small-display {
    display: none;
}

.ledger-filter-bar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}

.ledger-filter-dropdowns {
    display: flex;
    gap: 1rem;
    width: 50%;
    flex-wrap: wrap;
}

    .ledger-filter-dropdowns > div {
        flex: 1 1 0;
    }

.filter-bar {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: start;
    width: 100%
}

.filter-dropdowns {
    display: flex;
    gap: 1rem;
    width: 50%;
    flex-wrap: wrap;
}

    .filter-dropdowns > div {
        flex: 1 1 0;
    }

#add-ledger-btn {
    border: none;
    padding: 0;
    margin-right: 0.5rem;
}

@media (max-width: 750px) {

    .container {
        max-width: 98vw !important;
        padding: 0 2px;
    }

    table {
        font-size: 0.8rem;
    }

    .line-item-name {
        display: inline-block;
        text-decoration: underline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 11ch;
    }

    .hide-cells-on-small-display {
        display: none;
    }

    .show-cells-on-small-display {
        display: table-cell;
    }

    .ledger-filter-bar {
        align-items: start;
    }

    .ledger-filter-dropdowns {
        flex-direction: column;
        width: 70%;
    }

    .filter-bar {
        justify-content: space-between;
    }

    .filter-dropdowns {
        flex-direction: column;
        width: 70%;
    }

    .filter-bar > a > h6 {
        text-align: center;
        margin-bottom: 0;
    }

    #add-ledger-btn {
        margin-top: 2rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 575px) {
    .nav-item button {
        padding: 0.5rem 0;
    }
}
