@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Apps</h1>
    <a asp-area="BudgetManager" asp-controller="Ledger" asp-action="Index">BudgetManager</a>
</div>
